<div class="jumbotron mt-4">
	<h1 class="display-4">Notes App Nodejs and Mongodb </h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ut illum alias animi nisi in placeat asperiores doloribus eum ab! Sapiente, praesentium dolores reiciendis neque consequatur corrupti, alias quia? Iste?</p>
	<a href="http://www.google.com" class="btn btn-primary btn-lg">Pagina de Google.com</a>
</div>
